In [12]:
import pandas as pd
import numpy as np

data = (pd.read_csv('201306-citibike-tripdata.csv')
        [['tripduration', 'starttime', 'start station name',
          'end station name', 'bikeid', 'usertype']]
        .rename(columns = {'start station name':'start_station_name',
                           'end station name':'end_station_name'}))

data = data[data.end_station_name.notnull()]

In [13]:
data.head()

,tripduration,starttime,start_station_name,end_station_name,bikeid,usertype
0,695,2013-06-01 00:00:01,Broadway & W 24 St,9 Ave & W 18 St,19678,Subscriber
1,693,2013-06-01 00:00:08,Broadway & W 24 St,9 Ave & W 18 St,16649,Subscriber
2,2059,2013-06-01 00:00:44,Hicks St & Montague St,Hicks St & Montague St,19599,Customer
3,123,2013-06-01 00:01:04,E 15 St & Irving Pl,Washington Park,16352,Subscriber
4,1521,2013-06-01 00:01:22,Little West St & 1 Pl,State St & Smith St,15567,Subscriber

In [19]:
data.stack([0, 1])

IndexError: Too many levels: Index has only 1 level, not 2